version: '3.7'

services:
  dbserver:
    image: mysql:8.4
    platform: linux/amd64 # M1 Mac対応
    # 文字化け回避のために文字コードを指定
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
