spring:
  profiles:
    active: localhost
server:
  shutdown: graceful
mybatis:
  mapper-locations:
    - classpath*:/mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
---
spring:
  config:
    activate:
      on-profile: localhost
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mydb
    username: root
    password: root

---
spring:
  config:
    activate:
      on-profile: docker
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://dbserver/mydb
    username: root
    password: root
