<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sbdocker.infrastructure.mapper.SearchMapperXml">
    <select id="selectProfiles" resultType="com.example.sbdocker.domain.model.resource.SearchResponseResource">
        SELECT
        name,
        name_kana,
        unit_name,
        age,
        blood,
        birth_day,
        zodiac_sign,
        height,
        weight,
        bwh,
        dominant_hand,
        birth_place,
        favorite,
        special_skill,
        cv
        FROM
        profiles
        <where>
            <if test="name != null">
                AND name = #{name}
            </if>
            <if test="unitName != null">
                AND unit_name = #{unitName}
            </if>
        </where>
    </select>
</mapper>
